@page "/home"

<h3>Home</h3>
<br />

<h3>Brief description: This will more than likely replace the index page, but for now will just serve to be a place holder to make sure that everything works the way i envision it</h3>
<br />

<DND5eCombatSim.App.Components.CharacterList></DND5eCombatSim.App.Components.CharacterList>
<br />

<DND5eCombatSim.App.Components.WeaponList></DND5eCombatSim.App.Components.WeaponList>
<br />

<DND5eCombatSim.App.Components.ArmorList></DND5eCombatSim.App.Components.ArmorList>
<br />